@import "./scss/functions";
@import "./scss/variables";
@import "./scss/variables-dark";

// 1
$new-font-sizes: (
  7: $font-size-base * 0.9,
  8: $font-size-base * 0.8,
  9: $font-size-base * 0.7,
  10: $font-size-base * 0.6,
);

$font-sizes: map-merge($font-sizes, $new-font-sizes);

// 2 3 4 Applicato su HTML

$new-border-widths: (
  6: $border-width * 6,
  7: $border-width * 7,
  8: $border-width * 8,
  9: $border-width * 9,
  10: $border-width * 10,
);

$border-widths: map-merge($border-widths, $new-border-widths);

// 5

$btn-padding-x: 2.5rem;
$btn-padding-y: 0.75rem;

// 6

$grid-gutter-width: 0.5rem;

// 7

$card-bg: $dark;
$card-color: $info;
$card-border-radius: 2rem;

// 8 9 10

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": #00ffea,
  "warning": $warning,
  "danger": #ff0077,
  "light": #f3eeff,
  "dark": $dark,
);

// 11

$btn-border-radius: 2rem;
$badge-border-radius: 2rem;
$input-border-radius: 2rem;
$btn-border-radius-lg: 2rem;

// 12 13 14

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": #00ffea,
  "warning": $warning,
  "danger": #ff0077,
  "light": white,
  "dark": #141414,
  "epicode-1": #5726c3,
  "epicode-2": #8625a5,
  "epicode-3": #cb2376,
);

nav {
  a:active {
    font-weight: bold;
  }
}

.hover-zoom {
  overflow: hidden;
}

.hover-zoom img {
  transition: transform 0.3s ease;
}

.hover-zoom:hover img {
  transform: scale(1.1);
}

@import "./scss/bootstrap.scss";
